body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary, .btn-success, .btn-info, .btn-danger {
    margin-top: 10px;
    border-radius: 5px; /* Добавляем border-radius для кнопок */
}

.table-responsive {
    overflow-x: auto;
}

.table-input {
    width: 150px;
}

.delete-button {
    border-radius: 5px; /* Добавляем border-radius для кнопок удаления */
}