body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.container {
    max-width: 95%;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary, .btn-success, .btn-info, .btn-danger {
    margin-top: 10px;
}

.table-responsive {
    overflow-x: auto;
}

.table-input {
    width: 200px; /* Увеличена ширина инпутов */
}

.entry-table td, .entry-table th {
    white-space: nowrap;
    /* Предотвращает перенос текста */
}

.edit-button, .delete-button {
    width: 120px;
    margin-bottom: 5px; /* Добавлен отступ снизу */
}

.edit-form {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Формы */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Таблица */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

/* Адаптивность */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table-input {
        width: 100%;
    }

    .edit-button,
    .delete-button {
        width: 100%;
        margin-bottom: 5px;
    }
}