/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Light gray */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff; /* White container */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #8b0000; /* Dark red headings */
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 100%; /* Full width labels */
  text-align: left; /* Align labels to the left */
  margin-bottom: 5px;
  color: #555;
}

input[type="number"],
input[type="date"] {
  width: 100%; /* Full width inputs */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Button Styles */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.add-button {
  background-color: #dc143c; /* Crimson add button */
}

.add-button:hover {
  background-color: #b22222; /* Firebrick on hover */
}

.update-button {
  background-color: #696969; /* Dim gray update button */
}

.update-button:hover {
  background-color: #555;
}

.save-button {
  background-color: #2f4f4f; /* Dark slate gray save button */
}

.save-button:hover {
  background-color: #008080; /* Teal on hover */
}

.delete-button {
  background-color: #ff4500; /* OrangeRed delete button */
}

.delete-button:hover {
  background-color: #f44336; /* Red on hover */
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
}

th {
  background-color: #d3d3d3; /* Light gray header */
  color: #333;
  white-space: nowrap;
}

/* Scrollable Table Container */
.table-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

/* Grouped Tables */
.grouped-tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.table-wrapper {
  width: 45%; /* Adjust width as needed */
  margin-bottom: 20px;
}

/* Flex for Desktop and Column for Mobile */
@media (max-width: 768px) {
  .grouped-tables-container {
    flex-direction: column; /* Stack tables vertically */
    align-items: center;
  }

  .table-wrapper {
    width: 90%; /* Take up full width */
  }
}

/* Add animation for the button */
.add-button.adding-animation {
    animation: pulse 0.3s;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}