<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор Зарплаты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="app">
    <div class="container">
        <h1>Калькулятор Зарплаты</h1>
        <a href="{{ url_for('logout') }}" class="logout-link">Выйти</a>
        <h2>Форма Ввода Данных</h2>
        <form @submit.prevent="addRecord">
            <label for="date">Дата:</label>
            <input type="date" id="date" v-model="formData.date" required><br><br>

            <label for="robot">Робот:</label>
            <input type="number" id="robot" v-model.number="formData.robot" required><br><br>

            <label for="summHold">Сумма на Руках:</label>
            <input type="number" id="summHold" v-model.number="formData.summHold" required><br><br>

            <label for="differ">Разница:</label>
            <input type="number" id="differ" v-model.number="formData.differ" required><br><br>

            <label for="oklad">Оклад:</label>
            <input type="number" id="oklad" v-model.number="formData.oklad" required><br><br>

            <label for="office">Офис:</label>
            <input type="number" id="office" v-model.number="formData.office" required><br><br>

            <button type="submit" class="add-button" :class="{ 'adding-animation': isAdding }">Добавить Запись в БД
            </button>
        </form>

        <h2>Форма Значений по Умолчанию</h2>
        <form @submit.prevent="updateDefaults">
            <label for="defaultSuper">Супервайзер (по умолчанию):</label>
            <input type="number" id="defaultSuper" v-model.number="defaultValues.defaultSuper" required><br><br>

            <label for="defaultDirector">Директор (по умолчанию):</label>
            <input type="number" id="defaultDirector" v-model.number="defaultValues.defaultDirector" required><br><br>

            <label for="defaultTraffic">Трафик-менеджер (по умолчанию):</label>
            <input type="number" id="defaultTraffic" v-model.number="defaultValues.defaultTraffic" required><br><br>

            <button type="submit" class="update-button">Обновить Значения по Умолчанию</button>
        </form>

        <h2>Таблица Лестницы</h2>
        <table>
            <thead>
            <tr>
                <th>ЛЕСТНИЦА</th>
                <th>Директор</th>
                <th>Супервайзер</th>
                <th>Трафик-менеджер</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(ladderRow, ladderValue) in ladder" :key="ladderValue">
                <td><input type="number" v-model.number="ladder[ladderValue].ladderValue" @change="saveLadder"></td>
                <td><input type="number" v-model.number="ladderRow['Директор']" @change="saveLadder"></td>
                <td><input type="number" v-model.number="ladderRow['Супервайзер']" @change="saveLadder"></td>
                <td><input type="number" v-model.number="ladderRow['Трафик-менеджер']" @change="saveLadder"></td>
            </tr>
            </tbody>
        </table>
        <button @click="saveLadder" class="save-button">Сохранить Лестницу</button>

        <h2>Все Записи</h2>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th style="white-space: nowrap;">Дата</th>
                    <th style="white-space: nowrap;">Робот</th>
                    <th style="white-space: nowrap;">Сумма на Руках</th>
                    <th style="white-space: nowrap;">Разница</th>
                    <th style="white-space: nowrap;">Оклад</th>
                    <th style="white-space: nowrap;">Офис</th>
                    <th style="white-space: nowrap;">Налог</th>
                    <th style="white-space: nowrap;">Зарплата</th>
                    <th style="white-space: nowrap;">Потрачено</th>
                    <th style="white-space: nowrap;">Зарплата по Офису</th>
                    <th style="white-space: nowrap;">Зарплата Супервайзера</th>
                    <th style="white-space: nowrap;">Зарплата Директора</th>
                    <th style="white-space: nowrap;">Зарплата Трафик-менеджера</th>
                    <th style="white-space: nowrap;">Total</th>
                    <th style="white-space: nowrap;">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="calculation in calculations" :key="calculation.id"
                    :style="{ backgroundColor: getTotalColor(calculation.total) }">
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.date]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.robot]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.summHold]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.differ]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.oklad]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.office]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.nalog]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.salary]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.spent]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.officeSalary]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.salarySuper]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.salaryDirector]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.salaryTraffic]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.total]]</td>
                    <td>
                        <button @click="deleteCalculation(calculation.id)" class="delete-button">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="grouped-tables-container">
            <div class="table-wrapper">
                <button @click="toggleMonthlyTable">
                    {{ 'Скрыть Месячные Записи' if showMonthlyTable else 'Показать Месячные Записи' }}
                </button>
                <table v-if="showMonthlyTable">
                    <thead>
                    <tr>
                        <th>Месяц/Год</th>
                        <th>Зарплата Трафика</th>
                        <th>Зарплата Супервайзера</th>
                        <th>Зарплата Директора</th>
                        <th>Итого</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="monthlyData in monthlyCalculations" :key="monthlyData.monthYear">
                        <td>[[monthlyData.monthYear]]</td>
                        <td>[[monthlyData.salaryTraffic]]</td>
                        <td>[[monthlyData.salarySuper]]</td>
                        <td>[[monthlyData.salaryDirector]]</td>
                        <td>[[monthlyData.total]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-wrapper">
                <button @click="toggleYearlyTable">
                    {{ 'Скрыть Годовые Записи' if showYearlyTable else 'Показать Годовые Записи' }}
                </button>
                <table v-if="showYearlyTable">
                    <thead>
                    <tr>
                        <th>Год</th>
                        <th>Зарплата Трафика</th>
                        <th>Зарплата Супервайзера</th>
                        <th>Зарплата Директора</th>
                        <th>Итого</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="yearlyData in yearlyCalculations" :key="yearlyData.year">
                        <td>[[yearlyData.year]]</td>
                        <td>[[yearlyData.salaryTraffic]]</td>
                        <td>[[yearlyData.salarySuper]]</td>
                        <td>[[yearlyData.salaryDirector]]</td>
                        <td>[[yearlyData.total]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="file-upload">
                <label for="file-input" class="file-label">
                    <span>Загрузить JSON файл</span>
                    <input id="file-input" type="file" @change="handleFileChange" accept=".json" />
                </label>
            </div>

        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>