<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBACash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Подключаем dayjs -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <!-- Подключаем плагин для работы с датами на русском -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/ru.js"></script>
    <!-- Плагин для парсинга с указанием формата-->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/customParseFormat.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <h1>HBACash</h1>
        <a href="{{ url_for('logout') }}" class="logout-link">Выйти</a>
        <h2>Форма Ввода Данных</h2>
        <form @submit.prevent="addRecord">
            <label for="date">Дата:</label>
            <input type="date" id="date" v-model="formData.date" required><br><br>

            <label for="robot">Робот:</label>
            <input type="number" id="robot" v-model.number="formData.robot" required><br><br>

            <label for="summHold">Сумма на Руках:</label>
            <input type="number" id="summHold" v-model.number="formData.summHold" required><br><br>

            <label for="differ">Разница:</label>
            <input type="number" id="differ" v-model.number="formData.differ" required><br><br>

            <label for="oklad">Оклад:</label>
            <input type="number" id="oklad" v-model.number="formData.oklad" required><br><br>

            <label for="office">Офис:</label>
            <input type="number" id="office" v-model.number="formData.office" required><br><br>

            <button type="submit" class="btn btn-success" :class="{ 'adding-animation': isAdding }">Добавить Запись в БД
            </button>
        </form>

        <h2>Форма Значений по Умолчанию</h2>
        <form @submit.prevent="updateDefaults">
            <label for="defaultSuper">Супервайзер (по умолчанию):</label>
            <input type="number" id="defaultSuper" v-model.number="defaultValues.defaultSuper" required><br><br>

            <!--<label for="defaultDirector">Директор (по умолчанию):</label>
            <input type="number" id="defaultDirector" v-model.number="defaultValues.defaultDirector" required><br><br>-->

            <label for="defaultTraffic">Трафик-менеджер (по умолчанию):</label>
            <input type="number" id="defaultTraffic" v-model.number="defaultValues.defaultTraffic" required><br><br>

            <button type="submit" class="btn btn-success">Обновить Значения по Умолчанию</button>
        </form>

        <div class="edit-table-section table-responsive">
            <h2>Таблица Лестницы</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ЛЕСТНИЦА</th>
                    <!--<th>Директор</th>-->
                    <th>Супервайзер</th>
                    <th>Трафик-мен</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(ladderRow, ladderValue) in ladder" :key="ladderValue">
                    <td><input class="table-input form-control" type="number" v-model.number="ladder[ladderValue].ladderValue" @change="saveLadder"></td>
                    <!--<td><input class="table-input form-control" type="number" v-model.number="ladderRow['Директор']" @change="saveLadder"></td>-->
                    <td><input class="table-input form-control" type="number" v-model.number="ladderRow['Супервайзер']" @change="saveLadder"></td>
                    <td><input class="table-input form-control" type="number" v-model.number="ladderRow['Трафик-менеджер']" @change="saveLadder"></td>
                </tr>
                </tbody>
            </table>
            <button @click="saveLadder" class="btn btn-success" style="margin-top: 20px;">Сохранить Лестницу</button>
        </div>

        <div class="table-info">
            <h2>Все Записи</h2>
            <button class="btn btn-danger" @click="sortMode =! sortMode">сортировать по [[ sortMode ? 'возрастанию' : 'убиванию' ]] даты</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered entry-table">
                <thead style="position: sticky; top: 0px;">
                <tr>
                    <th style="white-space: nowrap;">Дата записи</th>
                    <th style="white-space: nowrap;">Робот</th>
                    <th style="white-space: nowrap;">Сумма Hold</th>
                    <th style="white-space: nowrap;">Разница</th>
                    <th style="white-space: nowrap;">Оклад</th>
                    <th style="white-space: nowrap;">Офис</th>
                    <th style="white-space: nowrap;">Налог</th>
                    <th style="white-space: nowrap;">Зарплата</th>
                    <th style="white-space: nowrap;">Потрачено</th>
                    <th style="white-space: nowrap;">ЗП по Офису</th>
                    <th style="white-space: nowrap;">ЗП Супера</th>
                    <th style="white-space: nowrap;">ЗП Директора</th>
                    <th style="white-space: nowrap;">ЗП Трафик-мена</th>
                    <th style="white-space: nowrap;">Total</th>
                    <th style="white-space: nowrap;">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="calculation in calculations" :key="calculation.id"
                    :style="{ backgroundColor: getTotalColor(calculation.total) }">
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[formatDate(calculation.date)]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.robot]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.summHold]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.differ]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.oklad]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.office]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.nalog]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.salary]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.spent]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.officeSalary]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.salarySuper]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.salaryDirector]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.salaryTraffic]]</td>
                    <td style="text-align: right; font-weight: bold; vertical-align: middle;">[[calculation.total]]</td>
                    <td>
                        <button @click="deleteCalculation(calculation.id)" class="btn btn-danger btn-sm delete-button">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="grouped-tables-container">
            <div class="grouped-data-section">
                <button @click="toggleMonthlyTable" class="btn btn-info" style="margin-top: 20px;">
                    [[ showMonthlyTable ? 'скрыть за месяц' : 'показать за месяц' ]]
                </button>
                <div class="table-responsive">
                    <table v-if="showMonthlyTable" class="table table-bordered">
                        <thead style="position: sticky; top: 0px;">
                        <tr>
                            <th>Месяц/Год</th>
                            <th>ЗП Трафика</th>
                            <th>ЗП Супервайзера</th>
                            <th>ЗП Директора</th>
                            <th>Итого</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="monthlyData in monthlyCalculations" :key="monthlyData.monthYear">
                            <td>[[monthlyData.monthYear]]</td>
                            <td>[[monthlyData.salaryTraffic]]</td>
                            <td>[[monthlyData.salarySuper]]</td>
                            <td>[[monthlyData.salaryDirector]]</td>
                            <td>[[monthlyData.total]]</td>
                        </tr>
                        <tr class="middle-table-td">
                            <td>среднее по месяцам</td>
                            <td>[[middleMounth.trafic]]</td>
                            <td>[[middleMounth.super]]</td>
                            <td>[[middleMounth.director]]</td>
                            <td>[[middleMounth.total]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="grouped-data-section">
                <button @click="toggleYearlyTable" class="btn btn-info">
                    [[ showYearlyTable ? 'скрыть за год' : 'показать за год' ]]
                </button>
                <div class="table-responsive">
                    <table v-if="showYearlyTable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Год</th>
                            <th>ЗП Трафика</th>
                            <th>ЗП Супервайзера</th>
                            <th>ЗП Директора</th>
                            <th>Итого</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="yearlyData in yearlyCalculations" :key="yearlyData.year">
                            <td>[[yearlyData.year]]</td>
                            <td>[[yearlyData.salaryTraffic]]</td>
                            <td>[[yearlyData.salarySuper]]</td>
                            <td>[[yearlyData.salaryDirector]]</td>
                            <td>[[yearlyData.total]]</td>
                        </tr>
                        <tr class="middle-table-td2">
                            <td>среднее по годам</td>
                            <td>[[middleYear.trafic]]</td>
                            <td>[[middleYear.super]]</td>
                            <td>[[middleYear.director]]</td>
                            <td>[[middleYear.total]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="file-upload">
                <label for="file-input" class="file-label">
                    <span>Загрузить JSON файл</span>
                    <input id="file-input" type="file" @change="handleFileChange" accept=".json" />
                </label>
            </div>

        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>