<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>вход в Чистая 3.0</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>вход в Чистая 3.0</h1>
    <form action="/login" method="post">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit" class="btn btn-success">Войти</button>
    </form>
    {% if error %}
    <p class="error">Ошибка: {{ error }}</p>
    {% endif %}
</div>
</body>
</html>